<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wifa Admin Dashboard</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/dashboard.css" />
        <!-- <link rel="stylesheet" href="/css/overlay.css" /> -->


        <!-- JavaScript -->

        <script src="/scripts/app.js" defer></script>
        <script src="/scripts/dashBoard.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <!-- Backdrop and modal for edit portfolio item form -->
        <div id="backdrop"></div>
        <aside class="modal" id="config-overlay">
            <section>
                <div class="edit-portfolio-form-container" id="portfolio-items-container">
                    <!-- Form sectiom -->
                    <form
                        id="edit-portfolio-form"
                        method="POST"
                        enctype="multipart/form-data"
                        autocomplete="off"
                    >
                        <div class="form-content" id="modal-h2-container">
                            <h2 id="modal-h2"></h2>
                        </div>
                        <div class="form-content">
                            <label for="projectType">Project Type:</label>
                            <input
                                type="text"
                                id="projectType"
                                name="projectType"
                                required
                            />
                        </div>
                        <div class="form-content">
                            <label for="projectName">Project Name:</label>
                            <input
                                type="text"
                                id="projectName"
                                name="projectName"
                                required
                            />
                        </div>
                        <div class="form-content">
                            <label for="projectDescription"
                                >Project Description:</label
                            >
                            <textarea
                                id="projectDescription"
                                name="projectDescription"
                                required
                            ></textarea>
                        </div>
                        <div class="form-content">
                            <label for="projectTools">Project Tools:</label>
                            <input
                                type="text"
                                id="projectTools"
                                name="projectTools"
                                required
                            />
                        </div>
                        <div class="form-content">
                            <label for="projectLinkUrl"
                                >Project Link URL:</label
                            >
                            <input
                                type="url"
                                id="projectLinkUrl"
                                name="projectLinkUrl"
                                required
                            />
                        </div>
                        <div class="form-content">
                            <label for="currentImg"
                                >Current Project Image:</label
                            >
                            <img
                                src=""
                                alt=""
                                id="projectImgPreview"
                                style="max-width: 300px; max-height: 175px; margin-bottom: 2rem;"
                            />
                            <input
                                type="hidden"
                                name="currentImg"
                                id="currentImg"
                            />
                        </div>
                        <div class="form-content">
                            <label for="projectImg"
                                >Change Project Image:</label
                            >
                            <input
                                type="file"
                                id="editprojectImg"
                                name="projectImg"
                                accept="image/*"
                            />
                        </div>
                        <div class="form-content">
                            <label for="projectImgAlt">Image Alt Text:</label>
                            <input
                                type="text"
                                id="projectImgAlt"
                                name="projectImgAlt"
                                required
                            />
                        </div>
                        <div class="form-content buttons">
                            <input type="hidden" name="_id" id="edit-item-id" />
                            <button type="submit" id="saveChanges">
                                Save changes
                            </button>

                            <button type="button" id="cancel-update-btn">
                                Cancel
                            </button>
                        </div>
                    </form>
                    <!-- End of modal with editing form -->
                </div>
            </section>
        </aside>
        <!-- Main section -->
        <div class="dashboard-container">
            <%- include('includes/sidebar') %>
            <section>
                <div class="mobile-header">
                    <p id="back-arrow">&#8592;</p>
                    <h4 class="dashboard-h4-mobile">Projects</h4>
                </div>
            </section>

            <section class="dashboard-content">
                <div id="dashboard-header">
                    <div id="dashboard-header-info">
                        <h2>My <br />Projects</h2>
                        <h5 id="date-time">Hey</h5>
                    </div>
                    <h4 id="dashboard-h4-default">Overview</h4>
                </div>
                <div class="content-container" id="portfolio">
                    <div id="content-options">
                        <div class="options" id="add-portfolio-option">
                            <a href="/admin-dashboard/portfolio/add-item">
                                <h4>Add Portfolio Item</h4>
                            </a>
                        </div>
                        <div class="options" id="update-portfolio-item-option">
                            <a href="/admin-dashboard/portfolio">
                                <h4>Update Portfolio Item</h4>
                            </a>
                        </div>
                        <div class="options" id="visitor-overview-option">
                            <a href="/admin-dashboard/traffic">
                                <h4>Traffic Overview</h4>
                            </a>
                        </div>
                        <div class="options" id="messages-shortcut-option">
                            <a href="/admin-dashboard/messages">
                                <h4>Check Messages</h4>
                            </a>
                        </div>
                    </div>
                    <div id="portfolio-items-container">
                        <% portfolioItems.forEach(function(item) { %>
                        <div class="portfolio-cards">
                            <a href="#">
                                <h2><%= item.projectName %></h2>
                                <img
                                    src="<%= item.projectImg %>"
                                    alt="<%= item.projectImgAlt %>"
                                />
                                <div id="portfolio-btns">
                                    <a
                                        href="#"
                                        class="btn edit-btn"
                                        data-id="<%= item._id %>"
                                        >Edit</a
                                    >
                                    <a
                                        href="#"
                                        class="btn delete-btn"
                                        id="delete"
                                        data-id="<%= item._id %>"
                                        >Delete</a
                                    >
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </section>
            <!-- End of main section -->
        </div>
        <div id="switch-label">
            <p id="theme-p"></p>
            </div>
        <div id="theme-switch">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
              </label>
        </div>
    </body>
</html>

<!-- All HTML before converting to EJS is checked with W3C'S Validator -->
