<!-- Här är min hemsida! Hemsidan är även publicerad på https://wifa.se via en cPanel och github pages. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="The portfolio page for William Falk, a front-end developer from sweden"
        />
        <title>William Falk's Portfolio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/shared.css" />
        <link rel="stylesheet" href="css/portfolio.css" />
        <link rel="stylesheet" href="css/overlay.css" />

        <!-- JavaScript -->
        <script src="scripts/jsonData.js" defer></script>
        <script src="scripts/preloader.js" defer></script>
        <script src="scripts/app.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />

        <!-- Hiding everything except backdrop -->
        <style>
            body > *:not(#backdrop) {
                display: none;
            }
        </style>
    </head>
    <body>
        <!-- Backdrop for modal -->
        <div id="backdrop"></div>
        <!-- End of backdrop -->

        <header>
            <!-- Navbar, modal and hero -->
            <%- include('includes/header') %>
            <!-- End of navbar, modal and hero -->
        </header>

        <!-- Main section with image-slider -->
        <main class="slider-container">
            <section class="slider">
            <% portfolioItems.forEach(function(item) { %>
                <article class="slide">
                    <div class="slide-content">
                        <h4 id="projectType" class="portfolio-title-h4">
                            <%= item.projectType %>
                        </h4>
                        <h3 id="projectName" class="portfolio-title-h3">
                            <%= item.projectName %>
                        </h3>
                        <p id="projectDescription" class="portfolio-p-1">
                            <%= item.projectDescription %>
                        </p>
                        <p id="projectTools" class="portfolio-p-2">
                            <strong>Built with: </strong><%= item.projectTools
                            %>
                        </p>
                        <a
                            id="projectLink"
                            class="portfolio-link"
                            href="<%= item.projectLink.url %>"
                            ><strong class="link-animation">
                                <%= item.projectLink.text %>
                                <span class="link-arrow">&#10217;</span></strong
                            ></a
                        >
                    </div>
                    <div class="slide-image">
                        <img
                            src="<%= item.projectImg %>"
                            alt="<%= item.projectImgAlt %>"
                        />
                    </div>
                </article>
            <% }); %>
                <!-- End of slide -->
            </section>
            <!-- Navigation dots -->
            <div class="slider-dots"></div>
            <!-- End of nav-dots -->
        </main>

        <!-- Footer-section -->
        <footer><%- include('includes/footer') %></footer>
        <!-- End of footer section -->

        <!-- Preloader container -->
        <div
            id="preloader"
            style="
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            "
        >
            <img src="images/preloader.gif" alt="preloader" />
        </div>
        <!-- End of preloader -->
    </body>
</html>

<!-- All code is checked with W3C'S code validator https://validator.w3.org/ -->
